@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  background: url('./images/restaurantbackground.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
}

#content {
  background-color: antiquewhite;
  margin-top: 10%;
  height: 90%;
  width: 60%;
  opacity: .9;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 3em;
  margin: 0;
  
}

.description {
  color: black;
  display: flex;
  justify-content: center;
  padding: 0 2em;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

li {
  list-style: none;
  font-size: 2em;
}

li:hover {
  text-decoration: underline;
}

.list {
  display: flex;
  justify-content: center;
  gap: 3em;
  margin: 3em 0;
  padding: 0;
  cursor: pointer;
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4em;
  margin-bottom: 1em;
}

.homepageImg {
  width: 300px;
  height: fit-content;
}

.imgContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.menuFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuItem {
  font-size: 1.5em;
  text-align: center;
}

.menuGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.imgFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.menuImg {
  width: 150px;
  height: 150px;
}

.header {
  display: flex;
  justify-content: center;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  font-size: 1.5em;
}

label {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}

textarea {
  display: block;
  margin: auto;
}

form {
  margin-top: 2em;
  border: none;
}

button {
  display: block;
  margin: 1em auto;
  padding: 6px 12px;
  border: 1px black solid;
  background-color: black;
  color: antiquewhite;
  cursor: pointer;
}

button:hover {
  color: antiquewhite;
  opacity: .7;
}
